body{
/*     border:1px solid red; */
    position:relative;
}
h1{
    text-align:center;
    width:100%;
}
.cart-container{
    height:100px;
    position:relative;
}
.cart-content{
    background-color:green;
    padding:.6rem;
    position:absolute;
}

.miniCart-container,
.miniCart-content,
#miniCartProducts,
.productList-container,
.productList-content,
#productList{
    position:relative;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.productList-container{
    background-color:whitesmoke;
    padding:3rem 0;
}
.miniCart-container{
    margin-bottom:3rem;
}
#miniCartProducts{
    width:90%;
    justify-content:flex-start;
}
#productList{
    width:90%;
    justify-content:space-between
}

.productBox__content{
/*     border:1px solid red; */
    position:relative;
    display:flex;
    flex-direction:column;
}
.productBox__content.added .productBox__buyBtn{
    display:none;
}
.productBox__content *{
    transition: all 0.6s ease;
}

.productBox__name,
.productBox__detail,
.productBox__price{
    margin-bottom:.5rem;
}
.productBox__name{
    margin-top:1rem;
}
.productBox__content.added{
    max-width:300px;
    margin-right:3rem;
}
.productBox__content.added .productBox__remove{
    display:block;
    background-color:#777;
    color:white;
    padding:.5rem 0;
    text-align:center;
    width:100%;
}
.productBox__remove{
    display:none;
}
.productBox__buyBtn{
    background-color:green;
    color:white;
    padding:.5rem 0;
    text-align:center;
    width:100%;
}
.productBox__buyBtn:hover{
    background-color:#3ab13a;
}